---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=86f361cca6ee286354949e22ca339323&include_adult=false&language=en-US&page=1&query=tobacco%20and%20worms%20for%20breakfast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - e8f74523ba1336403ef7e1271e72aabe
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '25890'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Mon, 03 Apr 2023 18:13:27 GMT
recorded_with: VCR 6.1.0
